_build
*.native
*.byte
*.docdir

setup.data
setup.log

*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.merlin
*~

# oasis artifacts
Makefile
configure
myocamlbuild.ml
setup.ml
META
*.odocl
*.mldylib
*.mllib

# jenga artifacts
libmap.sexp
libmap_unstable.sexp
*.ml.d
*.mli.d
*.cmi.deps
*.inferred-1step.deps
*.external-include-flags
*.external-archives
*.ml-gen
*.libdeps
*.objdeps
*.moduledeps
*.jsdeps
*.deps
*.cmt
*.cmti
*.modules
*.stub.names
*.out
*.exe
*.pack-order
lib/js_of_ocaml_stubs.c
.findlib-packages
.jenga
.omake-ocaml-bin
.opam-bin
*.build_info.sexp
*.hg_version.c
artifacts.sexp
